h1 {
    text-align: center;
    color: red;
  }
  
  h2 {
    text-align: center;
    color: red;
  }
  
  p {
    text-align: center;
    color: red;
  }
  table ,th, td {
    border: 1px solid black;
    width: 50%;
    text-align: center;
    border-collapse: collapse;
  }